/* Estilo para los encabezados */
h1 {
  color: #ffad33;
  font-size: 24px;
}
/* Estilo para los párrafos */
p {
  color: #333;
  font-size: 16px;
}
/* Estilo para los enlaces */
a {
  color: #3262ff;
  text-decoration: none;
}
